.tutorial-message-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(38, 38, 38, 0.47);
  top: 0;
  left: 0;
  z-index: 500000;

  .tutorial-message-body {
    background-color: white;
    width: min(90%, 800px);
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    padding: 18px 21px 26px 38px;
    border-radius: 5px;
    max-height: 100vh;
    max-width: 80vw;
    overflow: scroll;

    @media only screen and (max-width: 960px) {
      transform: translateY(-45%);
    }

    .tutorial-message-list {
      button {
        display: inline;
        margin: 0 5px;
        padding: 2px 5px;

        svg {
          vertical-align: bottom;
        }
      }

      li {
        margin: 8px 0;
      }
    }

    img.inline-img {
      max-height: 2rem;
      display: inline;
      vertical-align: middle;
    }

    .close-button {
      position: absolute;
      top: 11px;
      right: 12px;

      &:hover > svg {
        color: rgb(105, 105, 105);
      }
    }

    .begin-wrapper {
      margin-top: 10px;

      button {
        margin: 0 auto;
        padding-right: 13px;
        padding-left: 13px;
      }
    }
  }
}
