.eval-handler {
  position: relative;
  height: 100vh;
  font-family: sans-serif;

  .ui-container-wrapper {
    .camera-controls-wrapper {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .ui-container {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: white;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      flex-direction: column;

      .select-container {
        display: flex;
      }

      & > * {
        margin: 4px 2px;
      }

      .switch-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;

        .lozenge {
          padding: 5px 7px;
          margin-right: 8px;
        }
      }
    }
  }

  .header-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 3px 9px 6px 9px;
    border-radius: 4px;

    .header {
      font-size: 2rem;
    }
  }

  button {
    background: #2485bf;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 7px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 1.1rem;

    &:hover {
      background: #0a283a;
    }

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    & > svg {
      margin-top: 2px;
      margin-bottom: 3px;
      margin-right: 3px;
    }
  }

  .finished-message {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 9px;
    border-radius: 4px;
    transform: translate(-50%, -50%);

    & > span {
      margin-bottom: 1rem;
    }
  }

  .loading-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background: white;
    padding: 8px 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    @keyframes loading {
      to {
        transform: rotate(360deg);
      }
    }

    .loading-spinner-container {
      animation: loading 2s linear infinite;

      .loading-spinner {
        width: 20px;
        height: 20px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .loading-message {
      margin-left: 19px;
    }
  }
}
