.camera-controls-panel {
  padding: 3px 10px 8px 7px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @media only screen and (max-width: 960px) {
    display: none;
  }

  .img-wrapper {
    width: 90px;

    img {
      max-width: 90px;
      max-height: 75px;
      margin-right: 8px;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .expand {
    width: 100%;
    margin-top: 5px;
    background: #fff;
    color: black;
    padding: 0;

    &:hover {
      background: #cccccc;
    }
  }
}
